# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
.bundle/
vendor/

# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/
npm-debug.log*

# VS Code
.vscode/

# Temp files
*.tmp
*.temp 